@import "normalize.css";

:root {
  --background: #000034;
  --headline: #98aad9;
  --subtitle: #b7dce2;
  --text: #a2e0e0;
  --button: #8c7851;
  --button-text: #fffffe;

  --stroke: #020826;
  --main: #fffffe;
  --highlight: #8c7851;
  --secondary: #eaddcf;
  --tertiary: #f25042;
}

@font-face {
  font-family: Grandsans-Regular;
  src: url("/fonts/Grandsans/Grandsans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Grandsans-Rough;
  src: url("/fonts/Grandsans/Grandsans-Rough.woff2") format("woff2");
}

@font-face {
  font-family: ShipsWhistle-Bold;
  src: url("/fonts/Ships-Whistle/ShipsWhistle-Bold.woff2") format("woff2");
}
@font-face {
  font-family: ShipsWhistle-BoldItalic;
  src: url("/fonts/Ships-Whistle/ShipsWhistle-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: ShipsWhistle-BoldItalicRough;
  src: url("/fonts/Ships-Whistle/ShipsWhistle-BoldItalicRough.woff2")
    format("woff2");
}
@font-face {
  font-family: ShipsWhistle-BoldRough;
  src: url("/fonts/Ships-Whistle/ShipsWhistle-BoldRough.woff2") format("woff2");
}
@font-face {
  font-family: ShipsWhistle-Italic;
  src: url("/fonts/Ships-Whistle/ShipsWhistle-Italic.woff2") format("woff2");
}
@font-face {
  font-family: ShipsWhistle-ItalicRough;
  src: url("/fonts/Ships-Whistle/ShipsWhistle-ItalicRough.woff2")
    format("woff2");
}
@font-face {
  font-family: ShipsWhistle-Regular;
  src: url("/fonts/Ships-Whistle/ShipsWhistle-Regular.woff2") format("woff2");
}
@font-face {
  font-family: ShipsWhistle-Rough;
  src: url("/fonts/Ships-Whistle/ShipsWhistle-Rough.woff2") format("woff2");
}

@font-face {
  font-family: BlinkMacSystemFont;
  src: url("/fonts/BlinkMacSystemFont-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: var(--background);
}
body {
  color: var(--subtitle);
  font-family: "BlinkMacSystemFont", ui-sans-serif, system-ui, apple-system,
    "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.5;
}

a {
  color: var(--headline);
}
