@import "normalize.css";

html {
  --background-light: #000034;
  --headline-light: #98aad9;
  --text-light: #716040;
  --button-light: #8c7851;
  --button-text-light: #fffffe;

  --stroke-light: #020826;
  --main-light: #fffffe;
  --highlight-light: #8c7851;
  --secondary-light: #eaddcf;
  --tertiary-light: #f25042;

  --background-dark: #000034;
  --headline-dark: #98aad9;
  --subtitle-dark: #b7dce2;
  --text-dark: #a2e0e0;
}

:root {
  --background: var(--background-dark);
  --headline: var(--headline-dark);
  --subtitle: var(--subtitle-dark);
  --text: var(--text-dark);
  --button: var(--button-light);
  --button-text: var(--button-text-light);

  --stroke: var(--stroke-light);
  --main: var(--main-light);
  --highlight: var(--highlight-light);
  --secondary: var(--secondary-light);
  --tertiary: var(--tertiary-light);
}

@font-face {
  font-family: Grandsans-Regular;
  src: url("/fonts/Grandsans/Grandsans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Grandsans-Rough;
  src: url("/fonts/Grandsans/Grandsans-Rough.woff2") format("woff2");
}

html {
  background-color: var(--background);
  color: var(--headline);
}
