---
import { Picture } from "astro:assets";
import { Icon } from "astro-icon";
import config from "config";
import Base from "../layouts/Base.astro";
import Post from "../components/Post.astro";
import { getCollection } from "astro:content";

import cat from "../assets/images/cat.png";

const title = config.get("title");
let description = config.get("description");

let allPosts = await getCollection("posts");
allPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);

const pageSize = config.get("posts.paginationSize");
const indexPosts = allPosts.slice(0, Number(pageSize));
---

<Base title={title} description={description}>
  <Picture
    src={cat}
    formats={["avif", "webp"]}
    width={300}
    densities={[1.5, 2, 3]}
    alt="A cat who wonders is a cat."
  />
  <span data-pagefind-ignore>
    <section aria-label="Blog post list">
      {
        indexPosts.map((post) => {
          return <Post post={post} />;
        })
      }

      <nav id="pager">
        {
          allPosts.length > pageSize ? (
            <div>
              <>
                <a href="/2">Older Posts</a>
                <Icon name="ic:round-arrow-circle-right" />
              </>
            </div>
          ) : null
        }
      </nav>
    </section>
  </span>
</Base>
<style>
  article {
    max-width: 800px;
    margin: 5rem auto;
  }
  div {
    margin: 2rem auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
</style>
