---
import Header from "../components/Header.astro";
import "../styles/saw.css";

export interface Props {
  title: string;
  description: string;
  url: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-pagefind-meta="title">{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
<style>
  main {
    margin: 0 auto;
    padding: 1rem 5rem;
    max-width: 70ch;
  }

  @media only screen and (max-width: 650px) {
    main {
      padding: 1rem 2rem;
    }
  }
</style>
